<h1>Location courte durée</h1>
<h3>Vidéo: The flute tune</h3>
<mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
        <iframe class="youtube_video" src="https://www.youtube.com/embed/IwLSrNu1ppI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-grid-tile>
    <mat-grid-tile class="other_videos">
        <p><strong>Autres vidéos :</strong></p>
        <ul class="other_links">
            <li>Comment investir dans la LCD - Olivier Seban
                <div class="rating">
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
                    </mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
                    </mat-icon>
                </div>
            </li>
            <li>Sébastien Ascon : Elève d'Olivier Seban - Olivier Seban
                <div class="rating">
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
                    </mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
                    </mat-icon>
                </div>
            </li>
            <li>Qu'est-ce que la location courte durée ? - Olivier Seban
                <div class="rating">
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                </div>
            </li>
        </ul>
    </mat-grid-tile>
</mat-grid-list>
<p class="title_small">Qu’est-ce que la location courte durée / location saisonnière ?</p>
<p>Lorsque vous êtes propriétaire d’un appartement ou d’une maison et que vous souhaitez louer ce bien, plusieurs types
    d’exploitation sont possibles :</p>
<ul>
    <li> Location vide : vous louez simplement les mûrs. Votre locataire amène tout ce dont il a besoin.</li>
    <li>Location meublée : vous louez les mûrs et mettez en plus à disposition de votre locataire des équipements de
        première nécessité (*).</li>
    <li>Colocation : vous louez votre bien (vide ou meublé) à plusieurs locataires. Auquel cas, vous établissez un bail
        pour
        chacun d’entre eux.</li>
</ul>
<p>Généralement, les personnes à qui vous louez ainsi votre logement sont des personnes qui y élisent leur domicile
    (résidence principale)

    J’omets volontairement le cas des personnes qui louent votre bien pour en faire leur résidence secondaire ou un pied
    à terre.

    La location courte durée (location saisonnière) va toucher une autre clientèle.

    Il s’agit de personnes en déplacement et qui ont besoin de se loger sur une courte période.

    (*) Attention, en application de la loi Alur, un décret du 31 juillet 2015 (n°2015-981) fixe la liste minimale des
    équipements indispensables au locataire. Cette liste comprend :
</p>
<ul>
    <li>une literie comprenant une couette ou une couverture</li>
    <li>un dispositif d’occultation des fenêtres dans les pièces destinées à être utilisées comme chambre à coucher</li>
    <li>des plaques de cuisson</li>
    <li>un four ou un four à micro-ondes</li>
    <li>un réfrigérateur et un congélateur ou, au minimum, un réfrigérateur doté d’un compartiment permettant de
        disposer
        d’une température inférieure ou égale à – 6°</li>
    <li>la vaisselle nécessaire à la prise des repas</li>
    <li>une table et des sièges</li>
    <li>des étagères de rangement</li>
    <li>des luminaires</li>
    <li>le matériel d’entretien ménager adapté aux caractéristiques du logement</li>
</ul>

<h3>Consultez notre ensemble d'outils afin d'en savoir plus :</h3>
<mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile class="tools">
        <p>Vidéos</p>
        <mat-icon class="tools_icon" aria-hidden="false" aria-label="Example home icon">video_library</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile class="tools">
        <p>Formations</p>
        <mat-icon class="tools_icon" aria-hidden="false" aria-label="Example home icon">school</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile class="tools">
        <p>Séminaires</p>
        <mat-icon class="tools_icon" aria-hidden="false" aria-label="Example home icon">group</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile class="tools">
        <p>Livres</p>
        <mat-icon class="tools_icon" aria-hidden="false" aria-label="Example home icon">book</mat-icon>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile class="other_videos">
        <p class="title_videos"><strong>Intéressé ? Regardez ces autres vidéos sélectionnés par nos équipes !</strong>
        </p>
        <ul class="other_links other_links_bottom">
            <li>Comment investir dans la LCD - Olivier Seban
                <div class="rating">
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
                    </mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
                    </mat-icon>
                </div>
            </li>
            <li>Sébastien Ascon : Elève d'Olivier Seban - Olivier Seban
                <div class="rating">
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
                    </mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
                    </mat-icon>
                </div>
            </li>
            <li>Qu'est-ce que la location courte durée ? - Olivier Seban
                <div class="rating">
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
                    </mat-icon>
                </div>
            </li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile class="other_videos centered">
        <!-- <mat-divider [vertical]="true"></mat-divider> -->
        <p>Des questions ? Nos partenaires experts répondent !</p>
        <button mat-button class="button">Posez votre question !</button>
    </mat-grid-tile>
</mat-grid-list>