<mat-sidenav-container class="home_container">
  <mat-sidenav class="home_menu" mode="side" opened>
    <h1 class="app_title">Immo</h1>
      <mat-action-list>
          <button [routerLink]="['/videoHome']" class="home_button" mat-list-item><mat-icon class="home_icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon> Achat / Revente </button>
          <button [routerLink]="['/videoHome']" class="home_button" mat-list-item><mat-icon class="home_icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon> Colocation </button>
          <button [routerLink]="['/videoHome']" class="home_button" mat-list-item><mat-icon class="home_icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon> Immeuble de rapport </button>
          <button [routerLink]="['/videoHome']" class="home_button" mat-list-item><mat-icon class="home_icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon> Location courte durée </button>
        </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content class="home_content"><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>