<div class="book_list_iframe">
    <iframe class="book_list_iframe" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
        frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=immofirebase-20&marketplace=amazon&region=US&placement=295421404X&asins=295421404X&linkId=7c0531675914b644eb84da2753deb4e3&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
    </iframe>
    <p class="book_title">L'investissement immobilier...</p>
    <p class="book_description">"Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. in
        quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas
        Latinas ad..."</p>
    <div class="rating">
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
        </mat-icon>
    </div>
</div>
<div class="book_list_iframe">
    <iframe class="book_list_iframe" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
        frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=immofirebase-20&marketplace=amazon&region=US&placement=2960168208&asins=2960168208&linkId=f6c43d4bb982dac61602547448f4741c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    <p class="book_title">Les secrets de l'immobilier...</p>
    <p class="book_description">"Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. in
        quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas
        Latinas ad..."</p>
    <div class="rating">
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
        </mat-icon>
    </div>
</div>
<div class="book_list_iframe">
    <iframe class="book_list_iframe" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
        frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=immofirebase-20&marketplace=amazon&region=US&placement=B07PJQ7W27&asins=B07PJQ7W27&linkId=cd25cd2e769c072b750fe9ab651eb1a3&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    <p class="book_title">Les investissement immobiliers...</p>
    <p class="book_description">"Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. in
        quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas
        Latinas ad..."</p>
    <div class="rating">
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon class="rating_stars" aria-hidden="false" aria-label="Example home icon">star_outline
        </mat-icon>
    </div>
</div>